.view-container {
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    position: relative;
}

.view-nav-container {
    position: absolute;
    top: 8px;
    right: 8px;
}

.view-meta-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
}

.view-main {
    width: 100%;
    height: 100%;
    background-color: #3f3fef;
}